<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make A Short URL</title>
</head>
<body>
<h1>Make A Short URL</h1>
<form action="http://127.0.0.1:5001/register" method="post">
    <label>Nome do Produto</label>
    <input type="text" name="nome_produto" value="" required>
    <label>Código do Corredor</label>
    <input type="number" name="idcorredor" value="" required>
    <label>Data de Validade</label>
    <input type="date" name="data_validade" value="" required>
    <label>Quantidade em Kilos</label>
    <input type="number" name="qtdeKg" value="" required>
    <input type="submit" value="Submit">
</form>

</body>
</html>