<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>ARMAZEM</title>
    </head>
    <body>
        <p><a href="http://127.0.0.1:5001/insert">Cadastro de Produtos</a></p>
        <p><a href="http://127.0.0.1:5001/selectCorredores">Consulta de Corredores</a></p>
        <p><a href="http://127.0.0.1:5001/selectProdutos">Consulta de Produtos</a></p>
        <p><a href="http://127.0.0.1:5001/selectById">Consulta de Produto por ID</a></p>
        <p><a href="http://127.0.0.1:5001/delete">Deleta de Produto por ID</a></p>
        <p><a href="http://127.0.0.1:5001/updateById">Atualização de Produto por ID</a></p>
    </body>
  


</html>