<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Document</title>
    <!-- Estilo para coluna da tabela -->
    <style>       
        td {
            border: solid 1px black;
        }
        th {
            border: solid 1px black;
        }
    </style>
</head>
<h1>Consulta de Corredores</h1>
<body>     
    {% block content %}
  <table>
    <thead>
      <tr>
        <th>Código do Corredor</th>
        <th>Nome do Corredor</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in corredores_objs %}
        <tr>
          <td>{{ obj.corredorId }}</td>
          <td>{{ obj.nome_do_corredor }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
</body>
</html>